main {
    box-sizing: border-box;
    max-width: 80em;
    margin: auto auto;
    padding: 0 4em;
    /* border: thin solid blue; */
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    height: 550px;
    padding: 2em 2em;
}

#headerText {
    align-self: start;
    z-index: 10;
    line-height: 1.2;
    color: black;
    font-size: 3em;
    font-weight: 900;
    text-shadow: 4px 4px 4px #f4d655;
}

#logoImage {
    position: fixed;
    right: 3vw;
    top: 20px;
    z-index: 5;
    max-width: 150px;
    width: 20vw;
}

.fluid-image {
    max-width: 100%;
}

nav {
    position: sticky;
    top: 0;
}

article {
    clear: both;
    border: thick solid #e85525;
    border-radius: 15px;
    margin: 3em 0;
    padding: 2em;
}

article > img {
    float: right;
    margin: 0 2em;
    max-width: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }